@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;

  --azul_escuro: rgb(1, 1, 163);
  --azul_claro: #00aff0;
  --azul_claro2: #8dd1ecc0;
  --br: white;
}

html {
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  width: 100%;
  height: 10vh;
  background-color: white;
}

.logo_empresa {
  background-image: url("../img/logotipoVITORIA.png");
  width: 120px;
  height: 70px;
  background-size: cover;
  margin-top: 10px;
  margin-left: 30px;
  box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: -4px 6px 5px 0px rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 55px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: var(--azul_escuro);
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
}

#home {
  color: black;
}

.menu_hamburguer {
  display: none;
}

.banner {
  width: 100%;
  height: 90vh;

  background: linear-gradient(rgba(1, 1, 163, 0.7), rgba(1, 1, 163, 0.7)),
    url("../img/banner.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: white;

  gap: 20px;
}

.banner h1 {
  font-size: 2rem;
}

button {
  color: white;
  font-size: 1.1rem;
  width: 200px;
  height: 50px;
  background: rgba(51, 53, 187, 0.05);
  border: 1px solid var(--azul_claro);
  border-radius: 12px;
}
.Lojas {
  padding-bottom: 10px;
  background-color: var(--azul_claro2);
}

.Leg_lojas {
  font-size: 3rem;
  text-align: center;
  color: var(--br);
}

.container-cards {
  margin: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 170px;
}

.card {
  width: 374px;
  height: 580px;

  background-color: var(--card-background);
  border-radius: 30px;

  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 7px 6px -1px rgba(0, 0, 0, 0.47);
}

.card__img-background {
  width: 100%;
  height: 100%;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.loja_Dormentes {
  background-image: url("../img/Dormentes\ -\ PE\ -\ Loja.png");
  background-repeat: no-repeat;
  background-color: cover;
}

.loja_Juazeiro {
  background-image: url("../img/Juazeiro\ -\ BA\ -\ Loja.png");
  background-repeat: no-repeat;
  background-color: cover;
}

.loja_Petrolina {
  background-image: url("../img/Petrolina\ -\ PE\ -\ Loja.png");
  background-repeat: no-repeat;
  background-color: cover;
}

.loja_Araripina {
  background-image: url("../img/Araripina\ -\ PE\ -\ Loja.png");
  background-repeat: no-repeat;
  background-color: cover;
}

.loja_Picos {
  background-image: url("../img/Picos\ -\ PI\ -\ Loja.png");
  background-repeat: no-repeat;
  background-color: cover;
}

.loja_Raimundo {
  background-image: url("../img/São\ Raimundo\ Nonato\ -\ PI\ -\ Loja.png");
  background-repeat: no-repeat;
  background-color: cover;
}

.card__icone {
  position: absolute;
  top: 15px;
  left: 15px;
}

.card__img-user img {
  border-radius: 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 115px;
  top: 130px;
}
.container-cards {
  background-color: #b2ddecd5;
  display: grid;
  grid-template-rows: (20%, 40%, 40%);
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "linha_1 linha_1 linha_1"
    "linha_2_1 linha_2_2 linha_2_3"
    "linha_3_1 linha_3_2 linha_3_3";
}

.Leg_lojas {
  grid-area: linha_1;
}

.loja_Dormentes {
  grid-area: linha_2_1;
}

.loja_Juazeiro {
  grid-area: linha_2_2;
}

.loja_Petrolina {
  grid-area: linha_2_3;
}

.loja_Picos {
  grid-area: linha_3_1;
}

.loja_Araripina {
  grid-area: linha_3_2;
}

.loja_Raimundo {
  grid-area: linha_3_3;
}

.Leg_lojas {
  text-align: center;
  margin: 10px;
  padding: 15px;
  font-size: 3rem;
}

.container {
  width: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1; /*inclui o flex-grow e removi o header*/
  margin-top: 50px;
  flex-wrap: wrap;
}

.card__desc {
  margin: 10px 20px;
  flex-grow: 1;
  text-align: center;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--azul_escuro);
  text-decoration: none;
  border-radius: 50px;

  width: 150px;
  height: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f3f3f3;

  margin: 15px;
}

.button__loja {
  color: blue;
}

footer {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.Time {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Aluno_contato {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 15px;
  color: var(--azul_escuro);
}
.Aluno_contato h3 {
  margin: 1px;
  font-weight: bold;
  font-size: 1.3rem;
}

h3:hover {
  color: black;
  text-transform: uppercase;
  font-size: x-large;
}

h5 {
  margin: 5px 0 25px 0;
  font-weight: bold;
}
.icones i {
  color: var(--azul_escuro);
  margin: 0;
  padding: 0;
  font-size: 35px;
  justify-content: space-between;
}

.desenvolvido {
  color: var(--azul_escuro);
  flex-direction: flex;
  text-align: center;
  font-size: 1.5rem;
}

.desenvolvido:hover {
  color: black;
  text-transform: uppercase;
  font-size: xx-large;
}

@media screen and (max-width: 480px) {
  /*celular*/

  .menu {
    display: none;
  }

  .menu_hamburguer {
    background-color: var(--azul_escuro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
  }

  .container-cards {
    background-color: #b2ddecd5;
    display: grid;
    grid-template-rows: (20%, 40%, 40%);
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "linha_1 linha_1"
      "linha_2_1 linha_2_2"
      "linha_2_3 linha_3_1 linha_3_2 linha_3_3";
  }

  .Leg_lojas {
    grid-area: linha_1;
  }

  .loja_Dormentes {
    grid-area: linha_2_1;
  }

  .loja_Juazeiro {
    grid-area: linha_2_2;
  }

  .loja_Petrolina {
    grid-area: linha_2_3;
  }

  .loja_Picos {
    grid-area: linha_3_1;
  }

  .loja_Araripina {
    grid-area: linha_3_2;
  }

  .loja_Raimundo {
    grid-area: linha_3_3;
  }

  .Leg_lojas {
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: 3rem;
  }

  .container {
    width: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .imagem-loja {
    border-radius: 30px;
  }

  .button__loja {
    color: blue;
  }

  .Time {
    flex-direction: column;
  }

  .Aluno_contato {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .desenvolvido {
    font-size: 14px;
  }

  .desenvolvido:hover {
    font-size: 8px;
    text-transform: uppercase;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Leg_lojas {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(20, 20, 20, 0.699);
  }
}
